* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(87, 93, 94);
}

.header{
  background-color: #1C1D1F;
  padding-bottom: 40px;
}
.header .header-cotent{
  /* background-color: rgb(160, 149, 149); */
  z-index: 2;
  width: 1080px;
  /* width: 900px; */
  margin: 0 auto;
}

.two-content-header{
  display: flex;
  padding-top: 100px;

}

.right-section-header{
  background-color: rgb(192, 115, 115);
  width: 40%;
}

.right-section-header .stiky{
  position: fixed;
}


/* left section ( learnnimg paython) */

.left-section-header{
  /* background-color: rgb(87, 37, 180); */
  width: 60%;
}



.page_2 {
  /* width: 45%; */
  /* width: 700px; */
  /* margin-left: 10%; */
  color: white;
}
.page_2 > h1 {
  font-size: 2.2rem;
  margin-top: 3%;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
}
.page_2 > p {
  font-size: 20px;
  margin-top: 3%;
  color: #fff;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
}
#source_head {
  display: flex;
  gap: 3%;
  color: #cec0fc;
  font-size: 1rem;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
}

#course_rating {
  display: flex;
  margin-top: 3%;
  gap: 1%;
}

#course_rating > button {
  background-color: #eceb98;
  color: #3d3c0a;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  font-size: 0.9rem;
  border: 1px solid #eceb98;
}

#course_rating > p0 {
  color: #f3ca8c;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  font-size: 1rem;
}

#course_rating > p1 {
  color: #cec0fc;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
}

#course_rating > p1 > a {
  color: #cec0fc;
}

#course_rating > p2 {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}

#course_teach {
  margin-top: 3%;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
}

#course_teach > a {
  color: #cec0fc;
}

#course_timing {
  display: flex;
  gap: 5%;
  margin-top: 3%;
}

#course_timing > p {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
}



/*end of left section */



/* content */
.content-container{
  width: 1080px;
  /* width: 900px; */
  height: 700px;
  /* height: 100%; */
  /* background-color: aqua; */
  margin: 0 auto;

  
}
.two-content{
  display: flex;
  height: 1000px;
}


/* right-section */
.two-content .right-section{
  background-color: rgb(145, 130, 130);
  width: 40%;
}
/* ./right-section */




/* left-section */
.two-content .left-section{
  /* background-color: rgb(82, 62, 19); */
  width: 60%;
}

 /* what you will learn  */
 #learn_1 {
  /* width: 50%; */
  height: 350px;
  border: 1px solid rgb(190, 190, 190);
  /* margin-left: 10%; */
  padding: 25px;
  margin-top: 2%;
  margin-bottom: 30px;

}

#learn_1 > h1 {
  margin-left: 2%;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  font-size: 1.8rem;
}

.learn_2 {
  display: flex;
  justify-content: space-between;

}

.learn_2 > ul > li > p {
  color: #1c1d1f;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
}

.learn_2 > ul > li {
  list-style-type: none;
  display: flex;
  gap: 2%;
  margin-top: 5%;
}

.learn_2 > ul {
  width: 44%;
}
 /* ./what you will learn  */

 /* Course content  */
 h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-top: 20px;
}


.accordion_section{
  margin-top: 15px;
}
.accordion {
  background-color: #F7F9FA;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(240, 240, 240);
}

.accordion::before {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::before {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: 0.5px solid rgb(233, 233, 233);
}
.accordion span{
  float: right;
  padding-right: 20px;
}
















 /* ./Course content  */
/* ./left-section */




