* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
                  segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
                  segoe ui emoji, segoe ui symbol;
}
/* rating */
.rating_section{
  width: 550px;
  height: 100vh;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  overflow-y: scroll;

}
.rating_wrapper{
  /* background-color: #3d3c0a; */
  width: 90%;
  margin: 0 auto;
}
.review_item.rate{
  margin-bottom: 30px;
  border: 1px solid gray;
  padding: 0 20px  20px 20px;
}
.Bestseller-info_rating{
  margin-bottom: 30px;
  padding: 21px 0 0 23px;
  font-size: 20px;
  font-weight: 700;
}
/* ./rating */
#vedio_playerid,
.rating_pop{
  display: none;
}
.vedio_player ,
.rating_pop{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(31, 31, 31, 0.7);
  z-index: 100;
}
.clicked_layer,
.clicked_layer_vedio
{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.vedio-pop{
  width: 600px;
  height: 500px;
  margin: auto;
  margin-top: 10%;
  background-color: #1C1D1F;
  position: relative;
}
.x{
  color: #fff;
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
}
.x_rate{
  position: absolute;
  right: 26px;
  top: 17px;
  cursor: pointer;
  font-size: 20px;
}
.vedio_wraper{
  width: 80% !important;
  margin:auto !important;
  padding-top: 80px;
  position: relative;
}
.vedio-container #player{
  position: absolute;
  width: 100%;
}
.vedio_player_info{
  width: 80%;
  margin:auto;
  padding-top: 20px;
  color: #fff;
}
.vedio_player_info p{
  margin-top: 10px;
  font-size: 19px;
  font-weight: 600;
}




.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222325;
  z-index: 10;
  height: 77px;
}
.fixed-header-content{
  margin: 12px 0 auto 23px;
}
.fixed-header-content h3{
  margin-bottom: 5px;
  color: #fff;
}
.Bestseller-info{

}

.layer-header{
  top: 0;
  left: 0;
  right: 0;
  background-color: #1C1D1F;
  z-index: 10;
  height: 90px;
  position: absolute;
}
/* stikey */

.stiky{
  background-color: #ffffff;
  width: 339px;
  transform: translate(92px ,-50px);
  z-index: 11;
  box-shadow: 0px 0px 8px 0.1px #222325;
}
.vedio_section{
  background-color: #449263;
  height: 190px;
  position: relative;
}
.vedio_section img{
width: 100%;
height: 100%;
  background-size: contain;
  position: absolute;
}
.layer{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.layer_vedio{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  
}
.layer_vedio_content {
  z-index: 20;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: absolute; */
}
.layer_vedio_content img{
width: 70px;
height: 70px;
transform: translate(135px ,55px);
background-color: #fff;
cursor: pointer;
border-radius: 50%;
padding: 3px;
}
.layer_vedio_content p{
  position: absolute;
  margin: 0 auto;
  transform: translate(85px ,150px);
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 17px;
  font-weight: 700;
}

.btns_container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.btns_container button{
  width: 90%;
  margin: 5px auto;
  padding: 18px 0;
  cursor: pointer;
}
.btns_container .cartBtn{
  background-color: #A435F0;
  font-size: 15px;
  color: #fff;
  border: 0;
}
.btns_container .buy_now{
  background-color: #fff;
  border: 1px solid;
  font-size: 15px;
  padding: 17px 0;
}
.Money-back{
  color: gray;
  text-align: center;
  margin: 15px 0 20px 0;
  font-size: 14px;
}
.includes,
.ul_links{
  margin: 5px auto;
  width: 90%;
}
.includes p{
  margin: 12px auto;
}
.ul_links {
  transform: translateY(5px);
}
.ul_links a{
color: rgb(58, 58, 58);
font-size: 16px;
font-weight: 600;
margin-right: 5px;
}



/* ./stikey */

.header{
  background-color: #1C1D1F;
  padding-bottom: 40px;
}
.course.h2{
  font-size: 2.1rem;
  font-weight: 700;
}
.header .header-cotent{
  /* background-color: rgb(160, 149, 149); */
  z-index: 2;
  width: 1080px;
  /* width: 900px; */
  margin: 0 auto;
}

.two-content-header{
  display: flex;
  padding-top: 100px;

}

.right-section-header{
  /* background-color: rgb(192, 115, 115); */
  width: 40%;
}

.right-section-header .stiky{
  position: fixed;
}


/* left section ( learnnimg paython) */

.left-section-header{
  /* background-color: rgb(87, 37, 180); */
  width: 60%;
}



.page_2 {
  /* width: 45%; */
  /* width: 700px; */
  /* margin-left: 10%; */
  color: white;
}
.page_2 > h1 {
  font-size: 2.2rem;
  /* margin-top: 3%; */
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
}
.page_2 > p {
  font-size: 20px;
  margin-top: 3%;
  color: #fff;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
}
#source_head {
  display: flex;
  gap: 3%;
  color: #cec0fc;
  font-size: 1rem;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
}

#course_rating {
  display: flex;
  margin-top: 3%;
  gap: 1%;
}

#course_rating > button,
.Bestseller_s {
  background-color: #ECEB98;
  color: #3d3c0a;
  font-weight: 700;
  font-size: 0.75rem;
  border: 1px solid #eceb98;
  padding: 3px 5px;
}

/* #course_rating > */
 p0 {
  color: #f3ca8c;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  font-size: 1rem;
}

/* #course_rating > */
 p1 {
  color: #cec0fc;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
}

/* #course_rating > */
 p1 > a {
  color: #cec0fc;
}

/* #course_rating > */
 p2 {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}

#course_teach {
  margin-top: 3%;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
}

#course_teach > a {
  color: #cec0fc;
}

#course_timing {
  display: flex;
  gap: 5%;
  margin-top: 3%;
}

#course_timing > p {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
}



/*end of left section */



/* content */
.content-container{
  width: 1080px;
  /* width: 900px; */
  height: 700px;
  /* height: 100%; */
  /* background-color: aqua; */
  margin: 0 auto;

  
}
.two-content{
  display: flex;
  height: 1000px;
}


/* right-section */
.two-content .right-section{
  /* background-color: rgb(145, 130, 130); */
  width: 40%;
}
/* ./right-section */




/* left-section */
.two-content .left-section{
  /* background-color: rgb(82, 62, 19); */
  width: 69%;
}

 /* what you will learn  */
 #learn_1 {
  /* width: 50%; */
  height: 350px;
  border: 1px solid rgb(190, 190, 190);
  /* margin-left: 10%; */
  padding: 25px;
  margin-top: 2%;
  margin-bottom: 30px;

}

#learn_1 > h1 {
  margin-left: 2%;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  font-size: 1.8rem;
}

.learn_2 {
  display: flex;
  justify-content: space-between;

}

.learn_2 > ul > li > p {
  color: #1c1d1f;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  font-size: 1rem;
}

.learn_2 > ul > li {
  list-style-type: none;
  display: flex;
  gap: 2%;
  margin-top: 5%;
}

.learn_2 > ul {
  width: 44%;
}
 /* ./what you will learn  */

 /* Course content  */
 h1 {
  margin: 0;
  line-height: 2;
}
h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-top: 20px;
}
/* description */
.desc-section{
  margin-bottom: 20px;
}
#more {
  margin-top: 1%;
}

#more > p {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}

#more_1 
,#more_1_instructor{
  display: none;
}

#more_1 > p {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}

#more_1 > ul > li {
  margin-top: 1.5%;
}
/* ./description */


.accordion_section{
  margin-top: 15px;
}
.accordion {
  background-color: #F7F9FA;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(240, 240, 240);
}

.accordion::before {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::before {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: 0.5px solid rgb(233, 233, 233);
}
.accordion span{
  float: right;
  padding-right: 20px;
}

/* instructor */
.Featured{
  margin: 30px 0 50px 0;
  /* border: 1px solid rgb(216, 216, 216);
  padding: 20px; */
}
.instructor-info a{
font-size: 19px;
color: #5624D0;
font-weight: 600;
}
.instructor-info p{
color: gray;
font-size: 15px;
margin: 7px 0 13px 0;
}
.review_profile p{
  margin-top: 0%;
   font-size: 1rem; font-weight: 400
}
.Featured h2{
  font-size: 26px;
  font-weight: 600;
}
.rating{
  margin-bottom: 20px;
  /* background-color: #3d3c0a; */
}
.rating_title p{
font-size: 23px;
color: #1C1D1F;
font-weight: 700;
}
.review{
  display: grid;
  grid-template-rows:  1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
margin-top: 30px;

}
.show_more_rev{
  margin: 40px 0;
}
.show_more_btn{
outline: none;
padding: 10px 17px;
background-color: #fff;
cursor: pointer;
border: 1px solid;
}
.show_more_btn:hover{
background-color: rgb(243, 243, 243);

}

/* ./instructor */















 /* ./Course content  */
/* ./left-section */

















.intro {
position: relative;
}
.intro p{
  font-size: 13px;
  position: relative;
}

#myBtn{
  border: 0;
  background-color: #fff;
  outline: 0;
  font-size: 15px;
  font-weight: 600;
  color: #5624D0;
  cursor: pointer;
  /* z-index: 20000000; */
}
.fog{
background: linear-gradient(to top,#fff,rgba(245, 245, 245, 0.1));
top: 0;
bottom: 20px;
right: 0;
left: 0;
  position: absolute;
  z-index: 1;
}